<div ng-show="quiz.showRegister">
	<div class="register-quiz text-center">
		<label class=""> Enter the following details to enter the quiz. </label>
		<form class='form-horizontal'>
			<div class="form-group">
				<label class="col-md-3 control-label" for="firstName">First Name</label>
				<div class="col-md-7">
					<input class=" form-control" type="text" value="" id="firstName"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="lastName">Last Name</label>
				<div class="col-md-7">
					<input class=" form-control" type="text" value="" id="lastName"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="emailAddress">Email Address</label>
				<div class="col-md-7">
					<input class=" form-control" type="text" value="" id="emailAddress"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="phoneNumber">Phone Number</label>
				<div class="col-md-7">
					<input class=" form-control" type="text" value="" id="phoneNumber"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="address">Address</label>
				<div class="col-md-7">
					<textarea class=" form-control" id="address"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-7 text-center">
					<input type="reset" class="btn btn-danger" name="reset" value="Reset" ng-click="reset()"/>
					<input type="submit" class="btn btn-success" name="submit" value="Submit" ng-click="start()"/>
				</div>
			</div>
		</form>
		
	</div>
</div>